
<h1>{{ project.name }}</h1>


<form action="{% url 'users:add_project_team' project.id %}" method="post">
    {% csrf_token %}


    Name
    <input name="name" maxlength="30" required="" id="id_name" type="text"><br>

    Skills required
    <select name="skills_required" required="" id="id_skills_required" multiple="multiple">
        {% for skill in skills %}
  <option value="{{ skill.id }}">{{ skill.skill }}</option>
        {% endfor %}

</select><br>
    <input value="Surrender now!!" type="submit">
</form>
