{% load widget_tweaks %}

<form action="{% url 'users:add_hackathon_team' %}" method="post">
    {% csrf_token %}
    {% render_field form.non_field_errors %}
    {% render_field form.name.errors %}
    {% render_field form.name.label %}
    {% render_field form.name %}<br>
    {% render_field form.hackathon.errors %}
    {% render_field form.hackathon.label %}
    {% render_field form.hackathon %}<br>
    {% render_field form.vacancies.errors %}
    {% render_field form.vacancies.label %}
    {% render_field form.vacancies %}<br>
    {% render_field form.skills_required.errors %}
    {% render_field form.skills_required.label %}
    {% render_field form.skills_required %}<br>
    {% render_field form.cutoff_date.errors %}
    {% render_field form.cutoff_date.label %}
    {% render_field form.cutoff_date %}<br>
    <input type="submit" value="Surrender now!!">
</form>
