{% comment %}
{% if error %}
    <h1>{{ error }}</h1>
{% endif %}
<body><form action="{% url 'users:add_hackathon_team' %}" method="post">
    {% csrf_token %}


    Name
    <input name="name" maxlength="30" required="" id="id_name" type="text"><br>

    Hackathon
    <select name="hackathon" required="" id="id_hackathon">
        {% for hackathon in hackathons %}

  <option value="{{ hackathon.id }}">{{ hackathon.name }}</option>

  {% endfor %}

</select><br>

    Vacancies
    <input name="vacancies" value="0" min="0" required="" id="id_vacancies" type="number"><br>

    Skills required
    <select name="skills_required" required="" id="id_skills_required" multiple="multiple">
        {% for skill in skills %}
  <option value="{{ skill.id }}">{{ skill.skill }}</option>
        {% endfor %}

</select><br>

    <!-- Cutoff date
    <input name="cutoff_date" id="id_cutoff_date" type="text"><br> -->
    Description
    <input name="description" maxlength="300" required="" id="id_description" type="text"><br>
    <input value="Surrender now!!" type="submit">
</form>
</body>
{% endcomment %}

{% load render_bundle from webpack_loader %}
{% load static %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>



<script type="text/javascript">
    //var props = unescape({{prop|safe}})
    var props = {{ prop|safe }}
    var user = JSON.parse(props.user)
    var hackathons = JSON.parse(props.hackathons)
    var list_hack = JSON.parse(props.list_hack)
    var skills = JSON.parse(props.skills)
    var error = props.error
    console.log(props)
</script>

<div id="react-app"></div>
    {% render_bundle 'Hackathon_Team_Creation' %}
{% if error %}
  <p>{{ error }}</p>
{% endif %}
