{% load render_bundle from webpack_loader %}
{% load static %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>



<script type="text/javascript">
    //var props = unescape({{prop|safe}})
    var props = {{ prop|safe }}
    var user = JSON.parse(props.user)
    var teams = JSON.parse(props.teams)
    var requests_sent = JSON.parse(props.requests_sent)
    var requests_received = JSON.parse(props.requests_received)
    var skills_dict = JSON.parse(props.skills_dict)
    var list_hack = JSON.parse(props.list_hack)
    // var skills = JSON.parse(props.skills)
    // var error = props.error
    console.log(props)
</script>

<div id="react-app"></div>
    {% render_bundle 'Hackathon_Team_Join' %}
{% if error %}
  <p>{{ error }}</p>
{% endif %}
