<form action="{% url 'users:register' %}" method='POST'>
  {% csrf_token %}
  First Name <input type="text" name="first_name"><br>
  Last Name <input type="text" name="last_name"><br>
  SAP ID <input type="text" name="sap_id"><br>
  Mobile <input type="text" name="mobile"><br>
  Email <input type="email" name="email"><br>
  Password <input type="password" name="password"><br>
  <input type="submit" name="Submit">
</form>

{% if email_error %}
  <p>{{ email_error }}</p>
{% endif %}

{% if sap_error %}
  <p>{{ sap_error }}</p>
{% endif %}

{% if mobile_error %}
  <p>{{ mobile_error }}</p>
{% endif %}
