

<h1>{{ team.name }}</h1>
<h2>{{ team.hackathon.name }}</h2>

<form action="{% url 'users:send_hackteam_request' team.id %}" method="post">
    {% csrf_token %}
    <br>

    Skills
    <select name="skills" required="" id="id_skills" multiple="multiple">
        {% for skill in skills %}
  <option value="{{ skill.id }}">{{ skill.skill }}</option>
{% endfor %}

</select><br>

    Message
    <textarea name="message" cols="40" rows="10" id="id_message"></textarea><br>
    <input value="Submit" type="submit">
</form>
