<form action="{% url 'users:update_profile' user.id %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  First name <input type="text" name="first_name" value="{{ user.first_name }}"><br>
  Last name <input type="text" name="last_name" value="{{ user.last_name }}"><br>
  Mobile <input type="text" name="mobile" value="{{ user.mobile }}"><br>
  SAP ID <input type="text" name="sap_id" value="{{ user.sap_id }}"><br>
  Bio <input type="text" name="bio" value="{{ user.bio }}"><br>
  Year <input type="text" name="year" value="{{ user.year }}"><br>
  <!-- Need help here to decide what to show -->
  Skill 1 <input type="text" name="skill_1"><br>
  Skill 2 <input type="text" name="skill_2"><br>
  Skill 3 <input type="text" name="skill_3"><br>
  Photo <input type="file" name="photo"><br>
  <input type="submit" value="Submit now">
</form>

{% if error %}
 <p>{{ error }}</p>
{% endif %}
